body{
    background-color: #000000;
}
header{
    display: flex;
    width: 100%;
    background-color: black;
    
    
}
img{
    width: 10%;
    height: 120px;
    padding-left:1.5em;
    cursor:pointer;
    
}
.menu-box{
    width: 50%;
    padding-left: 18em;
    padding-top: 3em;
}
.nav-link{
    color: whitesmoke;
    text-decoration: none;
    padding: 1em 1em 1em 1em;
    font-size: 18px;
    letter-spacing: 1px;
}
.nav-link:hover{
    color: rgb(230, 164, 42);
    text-decoration: underline;
    transition: 1s;
}
.menu-button{
    width:15%;
    padding: 2em 0 2em 2em;
    
}
.menu-btn{
    background-color: rgb(230, 164, 42);
    color: #000000;
    font-weight: 500;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 0.9rem;
    border: none;
}
.menu-btn:hover{
    background-color: white;
    color: rgb(230, 164, 42);
    cursor: pointer;
}
main{
    margin: 0;
}
.hero-section{
    background-color: #000000;
    background-image: url("images/armchair-green-living-room-with-copy-space.jpg");
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    overlay: black;
    opacity: 20px;
}
.hero-title{
    text-align: center;
    color: burlywood;
    padding: 1em 0em 0em 1em;
    
}
.hero-subtitle{
    text-align: center;
    color: white;
    padding: 0em 0em 0em 1em;
    letter-spacing: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
